<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Calculator - MULTIPLY</title>
    <th:block th:include="fragments.html :: headerfiles"></th:block>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments.html :: header"></div>
<div class="calc-content">
    <h3>Multiplikation</h3>
    <form action="#" th:action="@{/multiply}" th:object="${calculator}" method="post">
        <table>
            <tbody>
            <tr>
                <td>Faktor:</td>
                <span class="error" th:if="${#fields.hasErrors('firstValue')}" >Fyll i ett heltal.<br/></span>
                <td><input type="text" th:field="*{firstValue}" /></td>
            </tr>
            <tr>
                <td>Faktor:</td>
                <span class="error" th:if="${#fields.hasErrors('secondValue')}">Fyll i ett heltal.</span>
                <td><input type="text" th:field="*{secondValue}" /></td>
            </tr>
            </tbody>
        </table>
        <p><input type="submit" class="submit-btn" value="Multiplicera" /></p>
    </form>
</div>
<div th:replace="fragments.html :: footer"></div>
</body>
</html>